.time{
    height :20%;
    width: 30%;
    color: aqua;
    text-align: center;
    border: 2px solid black;
    font-size: 70px;
    padding-top: 200px;
    display: inline-block;

}

section{
    text-align: center;
    margin-top:20%;
}

.time:hover .overlay {
  opacity: 1;
}

